<video autoplay muted loop id="myVideo">
  <source src="../../assets/gym-video2.mp4" type="video/mp4">
</video>
<div class="container-fluid">
  <div>{{data | json}}</div>
  <div id="loginForm" class="row mt-md-5 mt-3">
      <div class="card border-success col-md-6 col-sm-12 offset-md-3">
          {{data}}
          <form (ngSubmit)="userLogin()" id="login">
              <div class="card-body text-center">
                  <mat-card-header>
                      <mat-card-title>
                          <img class="logo" src="../../assets/logo.jpg" alt="">
                          <h3 class="text-center">Admin Login</h3>
                      </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <div class="col-md-12">
                          <mat-form-field class="form-group">
                              <mat-label class="form-label">Email</mat-label>
                              <input class="form-control" matInput type="email" [(ngModel)]="admin.username" name="username" />
                              <mat-error>Email is required</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-md-12">
                          <mat-form-field class="form-group">
                              <mat-label class="form-label">Password</mat-label>
                              <input class="form-control" matInput type="password" [(ngModel)]="admin.password" name="password" />
                              <mat-error>Password should be at least 8 characters long and starts with letter should contain one number,one uppercase , one lowercase and one special character</mat-error>
                          </mat-form-field>
                      </div>
                  </mat-card-content>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-success"> Login</button>
                  </div>
                            </div>
          </form>
      </div>

  </div>
</div>

<router-outlet></router-outlet>