<div class="container-fluid">
  <div class="row my-3">
      <div class="card col-md-12">
          <form [formGroup]="updatePlans" (ngSubmit)="[submitData(updatePlans.value),closeMe()]">

              <div class="card-body text-center">
                  <mat-card-header>
                      <mat-card-title>
                          <h3>Update Plan</h3>
                      </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="row">
                      <div class="col-md-4">
                          <mat-form-field>
                              <input type="hidden"  [(ngModel)]="row.id" value="{{row.id}}" formControlName="id">
                              <mat-label>Name</mat-label>
                              <input matInput type="text"  value="{{row.name}}"  [(ngModel)]="row.name" formControlName="name" readonly/>
                              <mat-error>Name is required</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field>
                              <mat-label>Duration</mat-label>
                              <input matInput type="text" value="{{row.duration}}" [(ngModel)]="row.duration" formControlName="duration"/>
                              <mat-error>Duration is required</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field>
                              <mat-label>Price</mat-label>
                              <input matInput type="text"  value="{{row.price}}" [(ngModel)]="row.price" formControlName="price"/>
                              <mat-error>Price is required</mat-error>
                          </mat-form-field>
                      </div>
                     
                  </mat-card-content>
                  <div class="col-12 my-2">
                      <button type="submit" class="btn btn-success" >Update</button>
                      <button mat-dialog-close tabindex="-1" class="btn btn-danger">Cancel</button>

                  </div>

              </div>
          </form>
      </div>

  </div>

</div>






  






















































  